
{% extends 'landing_page/base.html' %}

{% load static %}

{% block content %}
<!-- details page -->
<section class="pt-5">
    <div class="container shadow section-sm rounded">
        <div class="row">
          <!-- sidebar -->
          <div class="col-lg-3">
            <ul class="sidenav">
              <li class="sidelist">
                <a href='{% url "consulting" %}'>Consulting</a>
                <ul>
                  <li class="sidelist">
                    <a href="#">Hiring Support</a>
                  <li class="sidelist">
                    <a href="#">Data Collection</a>
                  <li class="sidelist">
                    <a href="#">Strategy</a>
                  <li class="sidelist">
                    <a href="#">Technical Insights</a>
                </ul>
              </li>
              <li title="LA" class="sidelist parent active">
                <a href='{% url "learninganalytics" %}'>Learning & Analytics</a>
                <ul>
                  <li class="sidelist">
                    <a href="#">Training</a>
                  <li class="sidelist">
                    <a href="#">Workforce Development</a>
                  <li class="sidelist">
                    <a href="#">Measurement (Psychometrics)</a>
                  <li class="sidelist">
                    <a href="#">Analysis</a>
                  <li class="sidelist">
                    <a href="#">Strategy</a>
                </ul>
              </li>
              <li class="sidelist">
                <a href='{% url "data" %}'>Data Management</a>
                <ul>
                  <li class="sidelist">
                    <a href="#">Strategy</a>
                  <li class="sidelist">
                    <a href="#">Architecture</a>
                  <li class="sidelist">
                    <a href="#">Management</a>
                  <li class="sidelist">
                    <a href="#">ETL</a>
                <li class="sidelist">
                    <a href="#">Machine Learning</a>
                </ul>
              </li>
              <li class="sidelist">
                <a href='{% url "ai" %}'>AI & DevOps</a>
                <ul>
                  <li class="sidelist">
                    <a href="#">Support</a>
                  <li class="sidelist">
                    <a href="#">Custom AI</a>
                  <li class="sidelist">
                    <a href="#">Automation</a>
                  <li class="sidelist">
                    <a href="#">Security</a>
                </ul>
              </li>
            </ul>
          </div>

    <!-- body -->
      <div class="col-lg-8">
        <div class="px-lg-5 px-4">
          <h2 class="mb-4 font-weight-medium">Learning & Analytics</h2> <!-- main content -->
          <div class="content">
            <p><img src='{% static "home/images/undraw_growth_analytics_re_pyxf.svg" %}'width="500px" alt="image"></p>
            <p>We empower your organization by designing training and development programs from the ground up with measurable data at the forefront. Our approach ensures that every aspect of your training initiatives is crafted with precision, incorporating the latest in learning science and educational technology. By embedding robust data collection mechanisms into the design phase, we provide a solid foundation for evaluating the effectiveness of your programs, ensuring they meet the evolving needs of your workforce and drive continuous improvement.<br><br>

              Our expertise in learning analytics allows us to delve deep into the data generated by your training and development efforts. We analyze key metrics such as engagement levels, knowledge retention, and skill acquisition to uncover insights into how your employees are interacting with the training materials. This detailed analysis enables us to identify trends, strengths, and areas for improvement, ensuring that your training programs are both effective and efficient. By transforming raw data into meaningful insights, we help you understand the true impact of your training initiatives.<br><br>
  
              With actionable decision-making at the core of our services, we empower you to make informed choices that enhance your training outcomes. Leveraging the insights gained from our comprehensive analysis, we provide strategic recommendations that align with your organizational goals. Whether it's refining existing programs, developing new training modules, or adjusting delivery methods, our data-driven approach ensures that every decision is backed by solid evidence. This proactive stance enables you to optimize your learning and development strategy, driving greater engagement, performance, and success across your organization.
          </p>
          </div>
          <!-- navigation -->
          <!-- <nav class="pagination">
            <a class="nav nav-prev" href="https://examplesite.com/"><i class="ti-arrow-left mr-2"></i>
              <span class="d-none d-md-block">Hugo documentation theme</span></a>
            <a class="nav nav-next" href="https://examplesite.com/basic-startup/requirments/"> <span
                class="d-none d-md-block">Requirments</span><i class="ti-arrow-right ml-2"></i></a>
          </nav> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->
{% endblock %}