asgiref==3.7.2
crispy-bootstrap4==2024.1
crispy-forms-gds==0.3.1
dj-database-url==2.1.0
Django==5.0.3
django-heroku==0.3.1
django-on-heroku==1.1.2
gunicorn==21.2.0
lxml==5.1.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==10.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-pptx==0.6.23
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
whitenoise==6.6.0
XlsxWriter==3.2.0
