{% extends 'base.html' %}

{% block content %}
    <div class= "col-md-6 offset-md-3">
        <br><br>
        <h1>Update {{ course }}</h1>
        <br>
        {% if user.is_authenticated %}
        
        <div style="padding:40px;margin:40px;border:1px solid #ccc">
            <div class="form-group">
                <p><b>Update course information</b></p>
                <hr>
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class = 'btn btn-success'>Update</button>
                </form>
            </div>
            <br>
        </div>
    </div>

    {% endif %}
{% endblock %}