{% extends 'base.html' %}

{% block content %}
<div class= "col-md-6 offset-md-3">
    <br><br>
    <h1>Search course information</h1>
    <br><br>
    {% if user.is_authenticated %}
        
</div>
    {% if query %}
<div>
    <!-- Basic course information -->
    <!-- module information table-->
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Module ID</th>
            <th scope="col">Module Title</th>
            <th scope="col"># PTBs</th>
            <th scope="col"># ELOs</th>
            <th scope="col"># Comps</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                {% for module in modules %}
                    <tr>
                    <th><a href = "{% url 'modules' module.id %}">{{ module }}</a></th>
                    <td>{{ module.module_title }}</td>
                    <td>{{ module.ptbs.count}}</td>
                    <td>{{ module.elos.count}}</td>
                    <td>{{ module.competencies.count}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
</div>
        {% else %}
<div class= "col-md-6 offset-md-3">
    <!-- return a message if the user does not enter a search query -->
    <form class="form-group" role="search" method="POST">
        {% csrf_token %}
        <input
        class="form-control me-2"
        type="search"
        placeholder="Enter search"
        name="search_query"
        required aria-label="Search"
        >
        <br>
        <button class="btn btn-outline-primary float-end" type="submit">Search</button>
    </form>
</div>
        {% endif %}
    {% endif %}
{% endblock %}