{% load static %}

<!DOCTYPE html>


<html lang="eng">

<head>
  <meta charset="utf-8">
  <title>AW</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="godocs" />
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- plugins -->
  <link rel="stylesheet" href='{% static "home/plugins/bootstrap/bootstrap.min.css" %}'>
  <!-- <link rel="stylesheet" href='{% static "home/plugins/themify-icons/themify-icons.css" %}'> -->
  <link rel="stylesheet" href='{% static "home/plugins/font-awesome/css/font-awesome.min.css" %}'>
  <!-- Main Stylesheet -->
  <link href='{% static "home/css/style.css" %}'rel="stylesheet">
  
  <!--Favicon-->
  <!-- <link rel="shortcut icon" href='{% static "home/images/favicon.ico" %}' type="image/x-icon">
  <link rel="icon" href='{% static "home/images/favicon.ico" %}' type="image/x-icon"> -->

</head>

<body>
        <!-- Responsive navbar-->
        {% include 'landing_page/navbar.html' %}

        {% block content %}
        {% endblock %}

        <!-- Footer-->
{% include 'landing_page/footer.html' %}

<!-- plugins -->
<script src='{% static "home/plugins/jQuery/jquery.min.js" %}'></script>
<script src='{% static "home/plugins/bootstrap/bootstrap.min.js" %}'></script>
<script src='{% static "home/plugins/masonry/masonry.min.js" %}'></script>
<script src='{% static "home/plugins/clipboard/clipboard.min.js" %}'></script>
<script src='{% static "home/plugins/match-height/jquery.matchHeight-min.js" %}'></script>

<!-- Main Script -->
<script src='{% static "home/js/script.js" %}'></script>


</body>
</html>
