{% extends 'landing_page/base.html' %}


{% block content %}
<header class="bg-blog">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Blog</h1>
                    <p class="lead text-white-50 mb-4">New directions and preparing for the future</p>                    
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5 border-bottom">     
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <a href="#"><h3 class="post-title">Why is Training the Black Hole of Data?</h3></a>
                        <h4 class="post-subtitle">Identifying and developing plans to capture the data from training sessions improves decision making.</h4>
                        <p class="post-meta"><i>
                            Posted on March 20, 2024</i>
                        </p>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <a href="#"><h3 class="post-title">Avoiding the death by a thousand pilots</h3></a>
                        <h4 class="post-subtitle">How can companies find what works with so many options?</h4>
                        <p class="post-meta">
                            Posted on March 12, 2024
                        </p>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <a href="#"><h3 class="post-title">Supporting the Leap: Simple Ways to Embed Data Mindsets</h3></a>
                        <h4 class="post-subtitle">The shift towards capturing data starts with small steps that work with your culture.</h4>
                        <p class="post-meta">
                            Posted on February 29, 2024
                        </p>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <a href="#"><h3 class="post-title">The future of programming with AI</h3></a>
                        <h4 class="post-subtitle">Research shows improvements for expert coders but sever drawbacks when novices use available coding tools</h4>
                        <p class="post-meta">
                            Posted on February 7, 2024
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}