{% extends 'landing_page/base.html' %}


{% block content %}
<header class="bg-blog">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Case Studies</h1>
                    <p class="lead text-white-50 mb-4">Insights through research and working with partners</p>                    
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5 border-bottom">     
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <a href="#"><h3 class="post-title">Customized Automation Improves Workflows</h3></a>
                        <h4 class="post-subtitle">Identifying patterns in workflow and creating custom, user-friendly software from the bottom-up increased efficiency by 60-90%</h4>
                        <p class="post-meta">
                            Posted on March 23, 2024
                        </p>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <a href="#"><h3 class="post-title">Psychometric Insights Improve Training Programs</h3></a>
                        <h4 class="post-subtitle">Thinking with the objectives and <i>data</i> in mind drives stronger course development</h4>
                        <p class="post-meta"><i>
                            Posted on March 14, 2024</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}