{% extends 'base.html' %}

{% block content %}
<div class= "col-md-6 offset-md-3">
    <br><br>
    <h1>Find Courses by PTB</h1>
    <br><br>
    {% if user.is_authenticated %}


    
        {% if query %}
            <div>
                <button class="btn btn-outline-success" type="submit">New Search</button>
                <br><br><br>
                {% for p in ptb %}
                <p><b>{{ p.ptb }}</b>: {{ p.description }}</p>
                {% endfor %}
                <!-- loop through search query -->
                <br>

                <h3>Results</h3>
                {% for course, stuff in course_stuff.items %}
                    <div>
                        <!-- return search query -->
                        <h5>{{ course }}: </h5>
                        
                        {% for thing in stuff %}
                            <li>
                                {{thing.module_number}}, {{thing.module_title}}, {{ thing.elos.all.count }}, {{ thing.ptbs.all.count }}, {{ thing.minutes_to_complete }}, {{ thing.number_of_slides }}, {{ thing.number_of_activities }}
                            </li>
                        
                        {% endfor %}
                       <br>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% else %}
            <!-- return a message if the user does not enter a search query -->
            <form class="d-flex" role="search" method="POST">
                {% csrf_token %}
                <input
                class="form-control me-2"
                type="search"
                placeholder="Enter PTB number"
                name="search_query"
                required aria-label="Search"
                >
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}